body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon,
.icon-footer {
  fill: #4D5AE5;
}

.icon:hover {
  fill: #404BBF;
}

.icon-footer:hover {
  fill: #31D0AA;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  flex: border-box;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 76px;
  margin-right: 332px;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.link-action {
  color: #404BBF;
}

.link-action::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404BBF;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  position: relative;
  top: 23px;
}

.contacts-list {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-style: normal;
  gap: 40px;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}


.hero {
  color: white;
  padding: 188px 0;
  background-image: linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 70%), url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 48px;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.benefits {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}

.benefits .container {
  display: flex;
  flex-direction: row;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.benefits-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  width: 264px;
  gap: 8px;
}

.benefits-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  gap: 8px;
}

.benefits-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 8px;
  text-align: left;
  padding: 0px;
}

.icon-benefits {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background-color: #F4F4FD;
}

.team {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  background-color: #f4f4fd;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: white;
}

.team-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

.team-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  width: 232px;
  gap: 8px;
}

.icon-wraper {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}


.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-descr,
.portfolio-item-descr,
.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 360px;
}

.portfolio-item-container {
  border-bottom: 1px solid #E7E9FC;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #E7E9FC;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.hidden-box {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-container:hover .hidden-text {
  transform: translateY(0);
}

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer .container {
  width: 100;
  display: flex;
  justify-content: flex-start;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 120px;
}

.footer .logo {
  color: #f4f4fd;
  margin: 0;
}

.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-media {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-icon-container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}